

$ap-id-red: #EF3340;



// AP GRAY COOL

$ap-gray-cool-deep: #2c2c2c;

$ap-gray-cool-rich: #787878;

$ap-gray-cool-medium: #b5b5b6;

$ap-gray-cool-bright: #ececec;


// AP GRAY WARM

$ap-gray-warm-deep: #424242;

$ap-gray-warm-rich: #878781;

$ap-gray-warm-medium: #c3c3b9;

$ap-gray-warm-bright: #ece8df;


// AP CERULEAN

$ap-cerulean-deep: #06153f;

$ap-cerulean-rich: #0a3175;

$ap-cerulean-medium: #104ba5;

$ap-cerulean-bright: #448bff;


// AP BLUE

$ap-blue-deep: #06263f;

$ap-blue-rich: #0b5475;

$ap-blue-medium: #117da5;

$ap-blue-bright: #1ca7da;


// AP TURQUOISE

$ap-turquoise-deep: #0d393d;

$ap-turquoise-rich: #0b7579;

$ap-turquoise-medium: #00a3a8;

$ap-turquoise-bright: #00c7ae;


// AP GREEN

$ap-green-deep: #233500;

$ap-green-rich: #507200;

$ap-green-medium: #78a600;

$ap-green-bright: #b1c70a;


// AP YELLOW

$ap-brown-deep: #38261e;

$ap-yellow-rich: #95702f;

$ap-yellow-medium: #d8a538;

$ap-yellow-bright: #f1be00;


// AP ORANGE

$ap-orange-deep: #3d2600;

$ap-orange-rich: #7b490c;

$ap-orange-medium: #b1671e;

$ap-orange-bright: #df8600;


// AP MAGENTA

$ap-magenta-deep: #3d0528;

$ap-magenta-rich: #771251;

$ap-magenta-medium: #a91e75;

$ap-magenta-bright: #df2c9d;


// AP PURPLE

$ap-purple-deep: #3e0c41;

$ap-purple-rich: #660775;

$ap-purple-medium: #993399;

$ap-purple-bright: #b82dc1;




.text-white {
	color:#ffffff;
}


.ap-id-red {
	background-color:$ap-id-red;
}




// AP GRAY COOL

.ap-gray-cool-deep {
	background-color:$ap-gray-cool-deep;
}

.ap-gray-cool-rich {
	background-color:$ap-gray-cool-rich;
}

.ap-gray-cool-medium {
	background-color:$ap-gray-cool-medium;
}

.ap-gray-cool-bright {
	background-color:$ap-gray-cool-bright;
}



// AP GRAY WARM

.ap-gray-warm-deep {
	background-color:$ap-gray-warm-deep;
}

.ap-gray-warm-rich {
	background-color:$ap-gray-warm-rich;
}

.ap-gray-warm-medium {
	background-color:$ap-gray-warm-medium;
}

.ap-gray-warm-bright {
	background-color:$ap-gray-warm-bright;
}



// AP CERULEAN

.ap-cerulean-deep {
	background-color:$ap-cerulean-deep;
}

.ap-cerulean-rich {
	background-color:$ap-cerulean-rich;
}

.ap-cerulean-medium {
	background-color:$ap-cerulean-medium;
}

.ap-cerulean-bright {
	background-color:$ap-cerulean-bright;
}



// AP BLUE

.ap-blue-deep {
	background-color:$ap-blue-deep;
}

.ap-blue-rich {
	background-color:$ap-blue-rich;
}

.ap-blue-medium {
	background-color:$ap-blue-medium;
}

.ap-blue-bright {
	background-color:$ap-blue-bright;
}



// AP TURQUOISE
.ap-turquoise-deep {
	background-color:$ap-turquoise-deep;
}

.ap-turquoise-rich {
	background-color:$ap-turquoise-rich;
}

.ap-turquoise-medium {
	background-color:$ap-turquoise-medium;
}

.ap-turquoise-bright {
	background-color:$ap-turquoise-bright;
}



// AP GREEN

.ap-green-deep {
	background-color:$ap-green-deep;
}

.ap-green-rich {
	background-color:$ap-green-rich;
}

.ap-green-medium {
	background-color:$ap-green-medium;
}

.ap-green-bright {
	background-color:$ap-green-bright;
}



// AP YELLOW

.ap-brown-deep {
	background-color:$ap-brown-deep;
}

.ap-yellow-rich {
	background-color:$ap-yellow-rich;
}

.ap-yellow-medium {
	background-color:$ap-yellow-medium;
}

.ap-yellow-bright {
	background-color:$ap-yellow-bright;
}




// AP ORANGE

.ap-orange-deep {
	background-color:$ap-orange-deep;
}

.ap-orange-rich {
	background-color:$ap-orange-rich;
}

.ap-orange-medium {
	background-color:$ap-orange-medium;
}

.ap-orange-bright {
	background-color:$ap-orange-bright;
}



// AP MAGENTA

.ap-magenta-deep {
	background-color:$ap-magenta-deep;
}

.ap-magenta-rich {
	background-color:$ap-magenta-rich;
}

.ap-magenta-medium {
	background-color:$ap-magenta-medium;
}

.ap-magenta-bright {
	background-color:$ap-magenta-bright;
}



// AP PURPLE

.ap-purple-deep {
	background-color:$ap-purple-deep;
}

.ap-purple-rich {
	background-color:$ap-purple-rich;
}

.ap-purple-medium {
	background-color:$ap-purple-medium;
}

.ap-purple-bright {
	background-color:$ap-purple-bright;
}

